<section id="service" class="services-mf route">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h3 class="title-a">
            Services
          </h3>
          <p class="subtitle-a">
            We mainly work on web applications...<span class="ion-trash-a"></span>
          </p>
          <div class="line-mf"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ion-monitor"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Web Design</h2>
            <p class="s-description text-center">
              We help you create and implement a clean design and user interface based on your company's graphic design and on new technologies, which can help your system's user to navigate easily.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ion-code-working"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Web Development</h2>
            <p class="s-description text-center">
              Web applications and systems based on the latest web standards and
              frameworks such as LARAVEL, SYMFONY ANGULAR, REACT design, functionality, security and speed.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ion-android-phone-portrait"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Mobile App</h2>
            <p class="s-description text-center">
              We develop systems that are searchable by mobile tools and we will assist you in the creation of a mobile
              application according to the requirements of your system activities
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="service-box">
          <div class="service-ico">
            <span class="ico-circle"><i class="ion-stats-bars"></i></span>
          </div>
          <div class="service-content">
            <h2 class="s-title">Marketing Services</h2>
            <p class="s-description text-center">
              We help you attracts prospects and customers to your website using a number of
              different channels and types of content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
