<div id="home" class="intro route bg-image" style="background-image: url('../../../assets/img/bg.JPG')">
  <div class="overlay-itro"></div>
  <div class="intro-content display-table">
    <div class="table-cell">
      <div class="container">
        <!--<p class="display-6 color-d">Hello, world!</p>-->
        <p class="mb-4 intro-subtitle">Hello world!</p>
        <p class=" intro-title  ">
          <span class="text-slider-items">I'm Yassine Lamine, I'm a software engineer</span>
          <strong class="text-slider"></strong></p>

        <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button" style="    background-color: transparent;
    border-color: white;
    border-radius: 35px;
    border-width: 1.5px;
    padding: 13px;
}
    ">Check out my cv</a></p> 
      </div>
    </div>
  </div>
</div>
