<section id="admin" class="blog-mf sect-pt4 route">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-8 col-xs-12">
      <div class="card text-center">
        <div class="card-header">
          <h5 class="card-title">Manage your Categories</h5>
        </div>
        <div class="card-body">
          <a routerLink="/admin/category" class="btn btn-success btn-sm m-1">Category list</a>
          <a routerLink="/admin/category/add" class="btn btn-primary btn-sm m-1">New category</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-8 col-xs-12">
      <div class="card text-center">
        <div class="card-header">
          <h5 class="card-title">Manage your Blog</h5>
        </div>
        <div class="card-body">
          <a routerLink="/admin/post" class="btn btn-success btn-sm m-1">Blog list</a>
          <a routerLink="/admin/post/add" class="btn btn-primary btn-sm m-1">New Blog</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
